@import '../../styles/colors.module.scss';

.cardGroup{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    // min-height: 100vh;
    max-height: 900px;
}
.card{
    background-color: $profile-backGround;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 15px;
    transition: 0.5s;

    &:hover{
        background-color: #004280;
    }
}
.imgJob{
    width: 100%;
    height: auto;
}
.information{
    width: 100%;
}
.link{
    color: $primary-color;
    text-decoration: none;
}

@media (max-width: 1500px){
    .cardGroup{
        max-height: 700px;
    }
}
@media (max-width: 1200px){
    .title{
        font-size: 20px;
    }
    .description{
        font-size: 15px;
    }
    .card{
        width: 40%;
    }
}

@media (max-width: 1000px){
    .title{
        font-size: 20px;
    }
    .description{
        font-size: 15px;
    }
    .card{
        width: 35%;
        margin-top: 15px;
    }
    .cardGroup{
        overflow-y: hidden;
        max-height: 100%;
        margin-bottom: 15px;
    }
}