@import '../styles/colors.module.scss';

.container{
    display: flex;
    justify-content: start;
    min-height: 100vh;
    width: 100%;
}

.imgProfile{
    border-radius: 50%;
    margin-bottom: 25px;
}
.information{
    color: $primary-color;
    text-align: center;
}
.titleName{
    font-weight: bold;
}
.listMessy{
    margin-top: 20px;
    font-size: 22px;
}
.p{
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        margin-left: 10px;
    }
}
.selected{
    color: $primary-color;
    @extend .p
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    margin-top: 30px;
    font-size: 14px;
}

.profile{
    background-color: $profile-backGround;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 25%;
}
.content{
    display: flex;
    background-color: $content-backGround;
    justify-content: center;
    align-items: center;
    width: 75%;

}

@media (max-width: 1800px){
    .titleName{
        font-size: 20px;
    }
    .profision{
        font-size: 20px;
    }
    .imgProfile{
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 1300px){
    .titleName{
        font-size: 12px;
    }
    .profision{
        font-size: 12px;
    }
    .listMessy{
        font-size: 18px;
    }
}