@import '../../styles/colors.module.scss';

.container{
    color: $primary-color;
    margin: 35px;
    text-align: center;
}
.title{
    font-size: 45px;
    margin-bottom: 150px;
}
.description{
    font-size: 52px;
    
}

@media (max-width: 1400px){
    .title{
        font-size: 30px;
    }
    .description{
        font-size: 35px;
    }
}
@media (max-width: 1000px){
    .title{
        margin-bottom: 100px;
    }
}
@media (max-width: 500px){
    .title{
        margin-bottom: 45px;
        font-size: 25px;
    }
    .description{
        font-size: 30px;
    }
}