@import '../../styles/colors.module.scss';

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 60%;
}

@media (max-width: 1200px) {
    .iconImg{
        width: 100px;
        height: 100px;
    }
}