@import '../../styles/colors.module.scss';

.container{
    color: $primary-color;
    font-size: 45px;
    width: 90%;
}

@media (max-width: 1500px){
    .container{
        font-size: 28px;
    }
}